@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: auto;
    font-size: 18px;
    /*text-align: center;*/
}


.topHeader,
.hero {
    display: flex;
    flex-wrap: wrap;
    color: white;
    max-width: 1500px;
    gap: 40px;
}

.topHeader{
    position: sticky;
    top: 0px;
    background-color: #1F2937;
    /*border-bottom:#213452 2px solid;*/
}

.heroImage {
    max-width: 400px;
    border-radius: 5px;
}

.banner {
    margin: auto;
    max-width: 450px; 
}

.hero{
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

.logo {
    height: 80px;
}

.navigation {
    display: flex;
    align-items: center;
    max-width: 400px;
}



.headerText,
.headerItem,
.banner,
.navigationItem,
.fameItem,
.signUpFooter {
    flex: 1;
}

.headerText{
    padding: 25px
}

.woof {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 15px;
}


.dogPhotos {
    border-radius: 5px;
    width: 240px;
}

.hallOfFame {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;


}

.fameTitle>h2 {
    text-align: center;
    padding: 25px;
    font-size: 22px;
    background-color: white;
}

.quote {
    padding: 10vw;
    background-color: #e5e7eb;
}

q {
    font-size: xx-large;
    font-style: italic;
    font-weight: 100;
    text-align: justify;
}

.quote>.author {
    font-size: medium;
    font-weight: bold;
    text-align: right;
}

.footerContainer {
    height: 350px;
    color: white;
    max-width: 1500px;
    margin: auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #3882f6;
    padding: 30px;
}

.callToAction {
    flex: 3;
    padding: 30px;
    justify-content: flex-start;
}

.signUpFooter {
    justify-content: flex-end;
    padding: 30px;
}

button {
    background-color: #3882f6;
    padding: 15px 32px;
    text-align: center;
    width: 200px;
    color: white;
    font-weight: bold;
    border-color: white;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;

}

a {
    text-decoration: none;
    color: inherit;

}

main {
    max-width: 1500px;
    margin: auto;
    border-color: grey;
}

body {

    background-color: #1F2937
}