
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family:'Roboto', sans-serif;    
    margin: 0px;
    /*text-align: center;*/

    
    
}


.topHeader, .hero{
    display:flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    /*width: 80%;*/
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 3vw;
}

.topHeader {
    height:80px;
}

.hero{
  padding-bottom: 5vw;
    
    
}

.heroImage{
   
    max-width: 440px;
    border-radius: 5px;
}

.banner {
  
padding:10px;
}

.logo{
    height:80px;
}

.navigation {
    display:flex; 
    justify-content:flex-end;
    align-items: center;
 
}



.headerText,.headerItem, .banner, .headerTextItem, .navigationItem, .fameItem, .signUpFooter{
    flex:1;
    
}

.headerText{
    display:flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 5px;
  }

  .woof{
    margin-bottom: 10px;

  }


.dogPhotos {
    border-radius: 5px;
    width: 200px;
}

.hallOfFame{
    display:flex;
    flex-wrap: wrap;
    /*justify-content:center;
    align-content:center;*/
    padding-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 5px;
    justify-content: space-between;
}
.fameTitle {
    text-align: center;
    padding: 25px;
}

.quote {
    padding:10vw;
    background-color: #e5e7eb;
}
.quote > p{
    font-size: xx-large;
    font-style:italic;
    font-weight:100;
    text-align: justify;
}
.quote > .author{
    font-size:medium;
    font-weight: bold;
    text-align: right;
}

.footerContainer{
    height: 350px;
    margin-top: 50px;
    ftext-align: center;
    color: white;
}

.footer {
    display:flex;
    flex-wrap: wrap;
   margin-left: 10vw;
   margin-right: 10vw;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 30px;
}
.callToAction{
    flex:3;
    padding: 30px;
    justify-content: flex-start;
}

.signUpFooter{
    justify-content: center;
}

button {
    background-color: #3882f6;
    padding: 15px 32px;
    text-align: center;
    width: 200px;
    color: white;
    font-weight: bold;
    border-color: white;
    border-radius: 4px;
    box-shadow: none;

}

a {
text-decoration: none;
color: inherit;

}